# 라이브러리
- from bs4 import BeautifulSoup # 웹상 html문서를 읽어드림
- import re # 정규표현식 사용
- import folium # 위치정보 라이브러리 적용
- import requests
- import json # 웹 주소
- import pymongo # mongoDB 사용
- import cls1 #파일명 다른 파일에서 사용시  
- from selenium import webdriver # chrome driver 사용
- import time # 시간함수 사용
- import pandas as pd # pandas 사용

### 조건문

In [3]:
# .format 사용
a=int(input("숫자1:"))
b=int(input("숫자2:"))

if a>b:
    print("처음 입력했던 {}가  {}보다 큽니다" .format(a,b))
else:
    print("두번째 입력했던 {}가 {}보다 큽니다." .format(b,a))

숫자1:12
숫자2:12
두번째 입력했던 12가 12보다 큽니다.

In [1]:
a = int(input("숫자입력:"))

if a >= 90 and a <= 93:  #and or not
#if a >= 90:
    print("A")
elif a>=80:
    print("B")
elif a>=70:
    print("C")
else:
    print("D")

숫자입력:90
A

In [2]:
# 리스트  : 값만 들어가 있음.
a = [3, 5, 6, 2, 5, 8]
#    0  1  2  3  4  5 -> 인덱스 번호
#   -6 -5 -4 -3 -2 -1

In [4]:
#반복문
for i in a:
    print(i, end=" ") # end=" " 가로로 출력

3 5 6 2 5 8

In [5]:
for i,j in enumerate(a):
    print(i,j, end=",") # 인덱스 번호와 함께 출력

0 3,1 5,2 6,3 2,4 5,5 8,

In [7]:
#딕셔너리는 키와 값으로 이뤄어져 있음
#값을 꺼낼때 key를 이용해서 꺼냄   JSON, XML

a = [ {"name":"가나다1", "age":38, "addr":"용인"},
     {"name":"가나다2", "age":48, "addr":"서울"},
    {"name":"가나다3", "age":58, "addr":"속초"}]
#리스트의 입장에서 3개 [{},{},{}]
#용인과 가나다 2를 출력하시오.
print(a[2]['addr']) # 인덱스 2번에서 키 addr의 값을 출력

속초

In [8]:
b = {"ret":{"abc":[1,3,4,5]}, "name":"가나다"}

#가나다와 4, 5를 출력하시오.
print(b['name'])
print(b['ret']['abc'][2])
print(b['ret']['abc'][3])

가나다
4
5

## 웹사이트와 연결하여 정보 가져오기

In [9]:
import requests
import json

url="http://ihongss.com/json/exam2.json"  ㅠ# 서버주소
str1 = requests.get(url).text             #서버에서 값을 받음  # 문자열
dic = json.loads(str1) #문자를 python 자료형으로 변환

print(type(dic)) #타입확인
print(dic) # 자료 확인

#id, name, age를   [ [ , , ],[ , , ] ]
a = []  #빈리스트를 생성함.
a.append( [ dic['ret']['id'], dic['ret']['name'], dic['ret']['age']  ])
a.append( [ dic['ret1']['id'], dic['ret1']['name'], dic['ret1']['age']  ])

print(a)

<class 'dict'>
{'ret': {'id': 'a386', 'name': '123', 'age': 34}, 'ret1': {'id': 'a383', 'name': '123', 'age': 36}}
[['a386', '123', 34], ['a383', '123', 36]]

In [12]:
import requests
import json


url="http://ihongss.com/json/exam3.json"    # 서버주소
str1 = requests.get(url).text             #서버에서 값을 받음  # 문자열
dic = json.loads(str1) #문자를 python 자료형으로 변환
#print(dic) # {"ret":[], "ret1":[] } # 해당 서버의 값을 출력

a1 = []  #빈리스트를 생성함.
a = dic["ret"]  #[{},{},{},{}]

for i in a: # dic['ret']이 4개 있으므로 4번 반복
    print(i['id'],i['name'],i['age'])    # 딕셔너리 해당값을 출력
    a1.append(  [ i['id'],i['name'],i['age'] ]    ) # 값을 a1 리스트에 추가

b = dic["ret1"] #[{},{},{}]
for i in b:
    #print(i['id'],i['name'],i['age'])
    a1.append(  [ i['id'],i['name'],i['age'] ]    )


# [ [],[],[],[],[],[],[] ]
print(a1)
print("=" * 30)
for t in a1: #7번 반복문
    if t[2]>=40 : # 'age'에 해당하는 조건
        print(t) #[ 아이디, 이름, 나이]

a2001 123 34
a2002 123 54
a2003 123 36
a2004 123 38
[['a2001', '123', 34], ['a2002', '123', 54], ['a2003', '123', 36], ['a2004', '123', 38], ['a2005', '123', 17], ['a2006', '123', 52], ['a2007', '123', 33]]
==============================
['a2002', '123', 54]
['a2006', '123', 52]

## MongoDB와 연결
- pip install pymongo

In [ ]:
import pymongo

conn = pymongo.MongoClient('192.168.99.100',32767) # docker를 이용해 만든 포트번호와 일치해야함
db = conn.get_database("db1") # db1생성
table = db.get_collection("test1") #collection 생성

dict1 = {"id":"c","age":35} #추가할 자료 만들기
table.insert_one(dict1)  #DB에 추가하기

In [ ]:
# 서버에서 값을 받아 mongoDB에 저장하기

import requests
import json
import pymongo

# 서버주소
url="http://ihongss.com/json/exam7.json"    
#서버에서 값을 받음
str1 = requests.get(url).text               # 문자열
#문자를 python 자료형으로 변환
dic = json.loads(str1) 

#conn = pymongo.MongoClient('127.0.0.1',27017) #window 서버 접속
conn = pymongo.MongoClient('192.168.99.100',32767) #docker 서버 접속
db = conn.get_database("db1") # db1생성
table = db.get_collection("test2") #collection 생성

In [ ]:
import requests
import json
import pymongo
import folium # 위치정보 라이브러리 적용

conn = pymongo.MongoClient('192.168.99.100',32767) #docker 서버 접속
#conn = pymongo.MongoClient('localhost',27017)      #윈도우
db = conn.get_database("db1") # db1생성
table = db.get_collection("test3") #collection 생성

# 데이터 꺼내기
# 데이터 중에서 _id는 안가져 옴 
data1 = table.find({},{'_id':False})

# 지도 시작시 위치, zoom_size 지도확대 비율 ~18까지 있음.
map_osm = folium.Map(location=[37.5117839,  126.9230091], zoom_size=14)
for i in data1:
    #print( i['lat'], i['lng'], i['name'] )
    folium.Marker([float(i['lat']), float(i['lng'])], popup=i['name']).add_to(map_osm)

map_osm.save('map.html') #완성된 지도를 map.html로 저장함.

In [1]:
#함수 구조로 변경
import pymongo

conn = pymongo.MongoClient('192.168.99.100',32767) #docker 서버 접속
#conn = pymongo.MongoClient('localhost',27017)      #윈도우
db = conn.get_database("db1") # db1생성
table = db.get_collection("member") #collection 생성

def mymenu(): # 함수생성
    print("0. 종료")
    print("1. 추가")
    print("2. 삭제")
    print("3. 수정")
    print("4. 목록")
    n = int(input("숫자를 입력하세요?"))
    return n

def myinsert():
    na = input("이름 입력?")
    te = input("연락처 입력?")
    ag = int(input("나이 입력?"))
    em = input("이메일 입력?")
    table.insert_one({"name":na, "tel":te, "age":ag, "email":em}) # DB에 데이터 추가

def mydelete():
    na = input("삭제할 이름 입력?")
    table.delete_one({"name":na}) # DB에 데이터 삭제

def myupdate():
    na = input("수정할 이름 입력(변경불가)?")
    te = input("연락처 입력?")
    ag = int(input("나이 입력?"))
    em = input("이메일 입력?")
    table.update_one({ "name" : na }, { "$set" : { "tel" : te, "age": ag, "email":em } }) # DB 데이터 수정

def myselect():
    data1 = table.find({},{'_id':False}) # mongo에서 데이터 가져오기
    for i in data1:
        print(i)

        
while True: #반복문 조건 True => 무한반복문
    n = mymenu()
    
    if n == 0:
        break #반복문 종료
        
    if n == 1: #추가
        myinsert()
    
    if n == 2: #삭제
        mydelete()
    
    if n == 3: #수정
        myupdate()
        
    if n == 4: #목록
        myselect()

0. 종료
1. 추가
2. 삭제
3. 수정
4. 목록
숫자를 입력하세요?1
이름 입력?Lee
연락처 입력?010-5034-9610
나이 입력?25
이메일 입력?dch@naver.com
0. 종료
1. 추가
2. 삭제
3. 수정
4. 목록
숫자를 입력하세요?4
{'name': 'Lee', 'tel': '010-5034-9610', 'age': 25, 'email': 'dch@naver.com'}
0. 종료
1. 추가
2. 삭제
3. 수정
4. 목록
숫자를 입력하세요?0

### 값 구하기

In [2]:
# 최대값, 최소값 구하기
a = [3, 5, 289, 2, 34, 134]

max = a[0]
min = a[0]
for i in a:
    if max < i: 
        max = i

    if min > i:
        min = i

print("최대값은={}".format(max))
print("최대값은={}".format(min))

최대값은=289
최대값은=2

In [3]:
# 순위 구하기
a = [4,67, 8,90,30]
b = [1, 1, 1, 1, 1]

for i in range(len(a)):  # 0 1 2 3 4  =>  0부터 5보다작을 때 까지 결국 4까지
    for j in range(len(a)): # 0 1 2 3 4
        if a[i] < a[j]:
            b[i] = b[i]+1
print(a)
print(b)

[4, 67, 8, 90, 30]
[5, 2, 4, 1, 3]

In [4]:
#셋
b = {1, 2, 3, 3, 4} #값 중복 불가 => 셋

# Set은 중복이 없는 요소들 (unique elements)로만 구성
print(b)
# {1, 2, 3, 4}

b.add(7)  # 하나만 추가
b.update({4,2,10}) # 여러 개 추가
b.remove(1) # 하나만 삭제
b.clear() # 모두 삭제

for i in b: 
    print(i, end=" ")
print()

{1, 2, 3, 4}

In [5]:
# 튜플
c = (2,2,3,4,5) #값 변경 불가!!! => 튜플
c[3] = 44

for i in c: #튜플
    print(i, end=" ")
print()

TypeError: 'tuple' object does not support item assignment

In [7]:
# 1 *
# 2 **
# 3 ***

for i in range(0, 4, 1):
    for j in range(0, (i+1), 1):
        print("*", end="")
    print(end="\n")

*
**
***
****

## 문자 합치기, 나누기

In [2]:
# 리스트를 하나의 문자로 합치기
str1 = ["abc", "dfe", "kkk"]   # 리스트 배열
str1 = ",".join(str1)          # 문자열 합치기
print(str1)

abc,dfe,kkk

In [3]:
# 문자열을 리스트로 나누기
str1 = "aaa bbb ccc"
arr = str1.split(" ") #공백으로 구분하여 나누기
print(type(arr))
print(arr)

<class 'list'>
['aaa', 'bbb', 'ccc']

In [5]:
#문제 : 문자열 한개를 입력받아서 a의 개수가 몇개인지 출력하시오
#ex) aaaabbbbba   => 결과값 5출력

b = "aaabcde"
c = 0
for i in b:
    if i == 'a':
        c=c+1
print(c)


c = b.count("a") # 위의 구조와 동일한 기능
print(c)

3
3

In [7]:
#문제 : 문자열을 이메일 포멧으로 받아서 순서를 변경하시오 
#ex) aaa@naver.com => naver.com@aaa

a= "aaa@naver.com"
b=a.split("@") # @을 기준으로 문자열을 나눔 / b[0] = 'aaa', b[1] = 'naver,com'
print(b)
c= b[1]+"@"+b[0] # 문자열 합치기
print(c)

['aaa', 'naver.com']
naver.com@aaa

In [10]:
#문제 : 문자열을 입력받아서 앞뒤가 같은 문자(대칭)인지 판별하시오.
#ex) abcba => yes  abccba => yes    abcaa => no

str1 = "abc1a"
str2 = str1[::-1] # 문자열 뒤집기
print(str2)

if str1 == str2:
    print("Y")
else:    
    print("N")

a1cba
N

## 정규표현식

In [11]:
#정규표현식
import re

b = re.match('^[0-1]{1}[1]{2}-[0-9]{4}-[0-9]{4}$','011-0000-0000')
if b != None : 
    print(b.span())
    print(b.group())
else:
    print("None")

(0, 13)
011-0000-0000

In [13]:
import re

p = re.match( '^[a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$', 'a+_@a.co.kr' )    
if p != None : 
    print(p.span())
    print(p.group())
else:
    print("None")

(0, 11)
a+_@a.co.kr

In [14]:
#(문자열){시작개수, 끝개수}
p1 = re.match( '^[가-힣]{2,4}$', '가나다' )    
if p1 != None : 
    print(p1.span())
    print(p1.group())
else:
    print("None")

(0, 3)
가나다

In [15]:
import re

# time 정규식 => 19|23
# @@ : ## : $$ => @@ 부분에 0~23까지 : 
b = re.match('^([0-1]{1}[0-9]{1}|[0-2]{1}[0-3]{1}):[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}$','13:58:34')
if b != None : 
    print(b.span())
    print(b.group())
else:
    print("None")

(0, 8)
13:58:34

In [12]:
import requests
import json
import pymongo

url = "http://ihongss.com/json/exam18.json"
str1 = requests.get(url).text
dic = json.loads(str1)

conn = pymongo.MongoClient('192.168.99.100', 32767)
db = conn.get_database("profile")
table = db.get_collection("test")

for i in range(len(dic)):
    a = 0
    if re.match('^[가-힣]{2,4}$', dic[i]['name']) != None:
        a += 1
        # print(dic[i]['name'])
    if re.match('^[a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$', dic[i]['email']) != None:
        a += 1
        # print(dic[i]['email'])
    if re.match('^(19|20)\d{2}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[0-1])$', dic[i]['date']) != None:
        a += 1
        # print(dic[i]['date'])
    if re.match('^([0-1]{1}[0-9]{1}|[0-2]{1}[0-3]{1}):[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}$', dic[i]['time']) != None:
        a += 1
        # print(dic[i]['time'])
    if re.match('^(0[1-9]|1[012])/(0[1-9]|[12][0-9]|3[0-1])/(19[8-9]{1}[0-9]{1}|20[0-1][0-9]|2020)$', dic[i]['birth']) != None:
        a += 1
        # print(dic[i]['birth'])
    if a == 5:
        # print(dic[i])
        table.insert_one(dic[i])

## Beautifulsoup4 
- pip install beautifulsoup4
- 웹상 html 구조를 가지고 옴
    * select_one == find   => 리스트가 아님
    * select == find_all   => 리스트로 반환됨

In [17]:
from bs4 import BeautifulSoup
import requests

url = "http://ihongss.com/resources/exam1.html"
str = requests.get(url)

soup = BeautifulSoup(str.text, 'html.parser')

a  = soup.select_one("div") #리스트 아님   find
a1 = a.select("p")
for i in a1:
    #print(i)
    print("내용:" , i.text)
    if i.get("id"): #속성중에서 id값이 있는지 확인
        print("속성중에서 id값:",i.attrs['id'])
        
b = soup.select("div")  #모든 div값을 가져옴 리스트타입
#print(b)
for i in b:
    c = i.select("p")
    for j in c:
        print(j.text)
    print("-" * 30)

내용: a
속성중에서 id값: abc
내용: b
내용: c
a
b
c
------------------------------
a1
b1
c1
------------------------------
a2
b2
c2
------------------------------

## 데이터 프레임

In [19]:
from urllib import request
from bs4 import BeautifulSoup
import pandas as pd

target = request.urlopen("http://www.weather.go.kr/weather/forecast/mid-term-rss3.jsp?stnId=108")
soup = BeautifulSoup(target, "html.parser")
tmp = soup.select("location")

a = []
b = []
c = []
d = []
e = []

for i in tmp:
    tmp1 = i.select("data")
    for j in tmp1:
#         print("{},{},{},{},{}".format(i.select_one('city').text, 
#                                       j.select_one("tmEf").text, 
#                                       j.select_one("wf").text,
#                                       j.select_one("tmn").text,
#                                       j.select_one("tmx").text))
        a.append( i.select_one('city').text )
        b.append( j.select_one("tmEf").text )
        c.append( j.select_one("wf").text )
        d.append( j.select_one("tmn").text )
        e.append( j.select_one("tmx").text )
        
df = pd.DataFrame({ "city":a, "tmef":b, "wf":c, "tmn":d, "tmx":e })
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    533 non-null    object
 1   tmef    533 non-null    object
 2   wf      533 non-null    object
 3   tmn     533 non-null    object
 4   tmx     533 non-null    object
dtypes: object(5)
memory usage: 20.9+ KB

    city              tmef     wf tmn tmx
0     서울  2020-08-12 00:00  흐리고 비  24  30
1     서울  2020-08-12 12:00  흐리고 비  24  30
2     서울  2020-08-13 00:00  흐리고 비  25  30
3     서울  2020-08-13 12:00  흐리고 비  25  30
4     서울  2020-08-14 00:00  흐리고 비  24  29
..   ...               ...    ...  ..  ..
528  서귀포  2020-08-16 00:00     맑음  25  30
529  서귀포  2020-08-16 12:00     맑음  25  30
530  서귀포  2020-08-17 00:00   구름많음  25  30
531  서귀포  2020-08-18 00:00   구름많음  25  30
532  서귀포  2020-08-19 00:00     맑음  25  30

[533 rows x 5 columns]

### 타입 확인 후  tmef date, tmn int64, tmx int64 로 변환하기

In [20]:
#타입 확인 후  tmef date, tmn int64, tmx int64 로 변환하기
df['tmn'] = df['tmn'].astype('int64') # 형 변환하기
df['tmx'] = pd.to_numeric(df['tmx']) # 형 변환하기
df['tmef'] = pd.to_datetime(df['tmef'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    533 non-null    object
 1   tmef    533 non-null    datetime64[ns]
 2   wf      533 non-null    object
 3   tmn     533 non-null    int64
 4   tmx     533 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 20.9+ KB

In [21]:
#날짜 type분할
df['year'] = df['tmef'].dt.year
df['month'] = df['tmef'].dt.month
df['day'] = df['tmef'].dt.day
df['time'] = df['tmef'].dt.hour         # 시(숫자)
df['minute'] = df['tmef'].dt.minute       # 분(숫자)
df['second'] = df['tmef'].dt.second       # 초(숫자)
df

,city,tmef,wf,tmn,tmx,year,month,day,time,minute,second
0,서울,2020-08-12 00:00:00,흐리고 비,24,30,2020,8,12,0,0,0
1,서울,2020-08-12 12:00:00,흐리고 비,24,30,2020,8,12,12,0,0
2,서울,2020-08-13 00:00:00,흐리고 비,25,30,2020,8,13,0,0,0
3,서울,2020-08-13 12:00:00,흐리고 비,25,30,2020,8,13,12,0,0
4,서울,2020-08-14 00:00:00,흐리고 비,24,29,2020,8,14,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
528,서귀포,2020-08-16 00:00:00,맑음,25,30,2020,8,16,0,0,0
529,서귀포,2020-08-16 12:00:00,맑음,25,30,2020,8,16,12,0,0
530,서귀포,2020-08-17 00:00:00,구름많음,25,30,2020,8,17,0,0,0
531,서귀포,2020-08-18 00:00:00,구름많음,25,30,2020,8,18,0,0,0
532,서귀포,2020-08-19 00:00:00,맑음,25,30,2020,8,19,0,0,0

In [24]:
# 문제 : 위의 dataframe을 noSQL에 저장하시오.
# db에 추가하기
import pymongo

conn = pymongo.MongoClient('192.168.99.100',32767) #docker 서버 접속
#conn = pymongo.MongoClient('localhost',27017)      #윈도우
db = conn.get_database("db1") # db1생성
table = db.get_collection("test10") #collection 생성

data = df.to_dict(orient='records')  # 데이터 프레임을 딕셔너리로 변경한 후 추가하기!!
table.insert_many(data)

In [30]:
# 문제 : 저장한 dataframe을 noSQL에 가져와서 출력하시오.
# db에서 가져오기
import pymongo

conn = pymongo.MongoClient('192.168.99.100',32767)  # docker 서버 접속
#conn = pymongo.MongoClient('localhost',27017)      # 윈도우
db = conn.get_database("db1") # db1생성
table = db.get_collection("test10") # test10과 연결

data = table.find({},{'_id':False}) #table로 선언한 정보 가져오기

df1 = pd.DataFrame(data) # dataframe으로 출력
df1

,city,tmef,wf,tmn,tmx,year,month,day,time,minute,second
0,서울,2020-08-12 00:00:00,흐리고 비,24,30,2020,8,12,0,0,0
1,서울,2020-08-12 12:00:00,흐리고 비,24,30,2020,8,12,12,0,0
2,서울,2020-08-13 00:00:00,흐리고 비,25,30,2020,8,13,0,0,0
3,서울,2020-08-13 12:00:00,흐리고 비,25,30,2020,8,13,12,0,0
4,서울,2020-08-14 00:00:00,흐리고 비,24,29,2020,8,14,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1061,서귀포,2020-08-16 00:00:00,맑음,25,30,2020,8,16,0,0,0
1062,서귀포,2020-08-16 12:00:00,맑음,25,30,2020,8,16,12,0,0
1063,서귀포,2020-08-17 00:00:00,구름많음,25,30,2020,8,17,0,0,0
1064,서귀포,2020-08-18 00:00:00,구름많음,25,30,2020,8,18,0,0,0
1065,서귀포,2020-08-19 00:00:00,맑음,25,30,2020,8,19,0,0,0

In [31]:
# csv파일로 저장하기
df.to_csv('test10.csv', index=False)

In [32]:
# csv 파일 읽기
data = pd.read_csv("./test10.csv")
data

,city,tmef,wf,tmn,tmx,year,month,day,time,minute,second
0,서울,2020-08-12 00:00:00,흐리고 비,24,30,2020,8,12,0,0,0
1,서울,2020-08-12 12:00:00,흐리고 비,24,30,2020,8,12,12,0,0
2,서울,2020-08-13 00:00:00,흐리고 비,25,30,2020,8,13,0,0,0
3,서울,2020-08-13 12:00:00,흐리고 비,25,30,2020,8,13,12,0,0
4,서울,2020-08-14 00:00:00,흐리고 비,24,29,2020,8,14,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
528,서귀포,2020-08-16 00:00:00,맑음,25,30,2020,8,16,0,0,0
529,서귀포,2020-08-16 12:00:00,맑음,25,30,2020,8,16,12,0,0
530,서귀포,2020-08-17 00:00:00,구름많음,25,30,2020,8,17,0,0,0
531,서귀포,2020-08-18 00:00:00,구름많음,25,30,2020,8,18,0,0,0
532,서귀포,2020-08-19 00:00:00,맑음,25,30,2020,8,19,0,0,0